-# encoding: utf-8
%h1 Carga
-form_for :dinero, url(:dinero, :crear), class: 'form-horizontal' do |f|
  .form-group
    =f.email_field :responsable,
                   placeholder: 'Tu mail',
                   class: 'form-control',
                   'aria-describedby': 'dinero_responsable_help',
                   value: params[:responsable]
    %span#dinero_responsable_help.help-block
      Te va a llegar un mail confirmando los dineros.
      %br
        Registrá la dirección de correo en
        %a{href: 'https://gravatar.com'} gravatar.com
        para tener la fotito.
  .form-group
    =f.text_field :cantidad,
                  placeholder: 'Dineros!',
                  class: 'form-control',
                  'aria-describedby': 'dinero_cantidad_help',
                  value: params[:cantidad]
    %span#dinero_cantidad_help.help-block
      También se aceptan negativos :c
      %br Si nos pasamos dineros entre nosotras, una tiene que anotar negativo y la otra positivo
  .form-group
    =f.text_field :moneda,
                  placeholder: 'ARS o cualquiera otra cosa',
                  class: 'form-control',
                  value: params[:cantidad]
  .form-group
    =f.text_area :comentario,
                 placeholder: 'Una descripción',
                 class: 'form-control',
                 value: params[:comentario]
  .form-group
    =f.submit :crear, class: 'btn btn-primary'
