-# encoding: utf-8
%h2 Egreso del tesoro

-form_for :dinero, url(:dinero, :desembolsar), class: 'form-horizontal col-md-6' do |f|
  .form-group
    =f.email_field :responsable,
                   placeholder: 'Pirata que desembolsó dinero',
                   class: 'form-control',
                   value: params[:responsable]
    %span.help-inline
      Dirección de correo electrónico de la pirata que desembolsó el dinero

  .form-group
    =f.text_field :cantidad,
                  placeholder: 'Dinero!',
                  class: 'form-control',
                  value: params[:cantidad]
    %span.help-inline
      Cantidad desembolsada (ej: 120.25)

  .form-group
    =f.text_field :moneda,
                  placeholder: 'Doblones u otra moneda',
                  class: 'form-control',
                  value: params[:moneda]
    %span.help-inline
      (ARS:pesos argentinos, FC:FairCoin, BT:BitCoins, etc)

  .form-group
    =f.text_field :grupo,
                  placeholder: 'Proyecto',
                  class: 'form-control',
                  value: params[:grupo]
    %span.help-inline
      Proyecto

  .form-group
    =f.text_area :comentario,
                 placeholder: 'Por que motivo, o para que uso, desembolsó el dinero',
                 class: 'form-control',
                 value: params[:comentario]

  .form-group
    =f.submit :desembolsar, class: 'btn btn-primary'
