-# encoding: utf-8
%h2 Egreso del tesoro
%p
  Cuando egresan dineros, la persona que era responsable los saca del
  sistema, es decir que se restan del total.

-form_for :dinero, url(:dinero, :desembolsar), class: 'col-md-6' do |f|
  .form-group.has-feedback
    %label Esta persona
    =f.email_field :responsable,
                   placeholder: 'dirección de mail',
                   class: 'form-control responsables',
                   value: params[:responsable]
    %span.form-control-feedback.glyphicon.glyphicon-menu-down

  .form-group
    %label usó
    =f.text_field :cantidad,
                  placeholder: 'Dinero!',
                  class: 'form-control',
                  value: params[:cantidad]

  .form-group.has-feedback
    %label en forma de
    =f.text_field :moneda,
                  placeholder: 'Doblones u otra moneda',
                  class: 'form-control monedas',
                  value: params[:moneda]
    %span.form-control-feedback.glyphicon.glyphicon-menu-down

  .form-group.has-feedback
    %label para el proyecto
    =f.text_field :grupo,
                  placeholder: 'uno',
                  class: 'form-control grupos',
                  value: params[:grupo]
    %span.form-control-feedback.glyphicon.glyphicon-menu-down

  .form-group
    %label con motivo de
    =f.text_area :comentario,
                 placeholder: 'Por que motivo, o para que uso, desembolsó el dinero',
                 class: 'form-control',
                 value: params[:comentario]

  .form-group
    =f.submit :desembolsar, class: 'btn btn-primary'
