.media
  %a{class: 'pull-left', href: '#'}
    %img{ gravatar_attrs(dinero.responsable,
                          size: 70,
                          title: dinero.nombre,
                          secure: request.secure? ) }
  .media-body
    %h4.media-heading= dinero.dinero.format
    %blockquote
      %p= dinero.comentario
      %small
        %cite= dinero.nombre
