-# encoding: utf-8
%h2 Ingreso al tesoro
%p Cuando ingresan dineros, una persona tiene una cantidad de cosas.

-form_for :dinero, url(:dinero, :ingresar), class: 'col-md-6' do |f|
  .form-group.has-feedback
    %label Esta persona
    =f.email_field :responsable,
                   placeholder: 'dirección de mail',
                   class: 'form-control responsables',
                   value: params[:responsable]
    %span.form-control-feedback.glyphicon.glyphicon-menu-down

  .form-group
    %label recibió
    =f.text_field :cantidad,
                  placeholder: 'cantidad',
                  class: 'form-control',
                  value: params[:cantidad]

  .form-group.has-feedback
    %label en forma de
    =f.text_field :moneda,
                  placeholder: 'doblones',
                  class: 'form-control monedas',
                  value: params[:moneda]
    %span.form-control-feedback.glyphicon.glyphicon-menu-down

  .form-group.has-feedback
    %label para el proyecto
    =f.text_field :grupo,
                  placeholder: 'uno',
                  class: 'form-control grupos',
                  value: params[:grupo]
    %span.form-control-feedback.glyphicon.glyphicon-menu-down

  .form-group
    %label con motivo de
    =f.text_area :comentario,
                 placeholder: 'por qué',
                 class: 'form-control',
                 value: params[:comentario]

  .form-group
    =f.submit :ingresar, class: 'btn btn-primary'
