%p Hola
%p
  Este es un recibo por los dineros que agregaste en
  = ENV['FQDN']

%blockquote= dineros.first.comentario

%p Estos fueron los movimientos realizados

%table
  %tbody
    - dineros.each do |dinero|
      %tr
        %td= dinero.dinero.format
        %td= dinero.nombre

%p
  Si no tenes idea de que se trata esto, usa este link de
  desconfirmacion para eliminarlos.  De lo contrario podes ignorar este
  mensaje.

%p
  %a{href: url_para_desconfirmar } Desconfirmar
