-# encoding: utf-8
%h1 Dineros

%p.lead Tesorería distribuida para colectivos.

%p

  Todo lo que se cargue aquí son los dineros colectivos que cada una
  tiene.  Esto quiere decir que solo hay que cargar los que pertenezcan
  al colectivo, no los que tengas en tu bolsillo individual.

%p

  Por ejemplo, para aportar ARS 100, carga tu mail, pone 100 ARS, una
  descripción y listo.

%p

  Para retirarlos o hacer un gasto, anotá -100 ARS.

%p

  Si le diste esos dineros a alguien, anotá -100 ARS.  La otra persona
  tiene que anotar 100 ARS.

%p

  Para hacer un trueque o una compra o un cambio de moneda, anotá en
  negativo lo que salió y en positivo lo que entró.
