-# encoding: utf-8
!!! 5
%html{'xml:lang' => 'es_AR', 'xmlns' => 'http://www.w3.org/1999/xhtml'}
  %head
    %meta{charset: "utf-8"}
    %title Dineros!
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}

    %link{href: '/stylesheets/bootstrap.min.css',
          media: 'screen', rel: 'stylesheet', type: 'text/css'}

    %link{href: '/stylesheets/local.css',
          media: 'screen', rel: 'stylesheet', type: 'text/css'}

    %link{href: url(:feed),
          rel: 'alternate',
          title: 'Feed',
          type: 'application/atom+xml'}
  %body
    .container
      = yield

    %footer.modal-footer
      %ol.list-inline
        %li
          %a{href: 'http://repo.hackcoop.com.ar/dineros.git/'} código fuente
        %li
          %a{href: '/dineros.asc'}= GPGME::Key.find(:secret).first.fingerprint
